.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

section:not(:last-child) {
  margin-bottom: 200px;
}

section:nth-child(2) {
  margin-bottom: 24px;
}

.grid {
  display: grid;
  grid-template-columns: none;
}

@media screen and (min-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

@media screen and (min-width: 800px) {
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-col-12 {
  grid-column: 1;
}

.grid-col-13 {
  grid-column: 1;
}

.grid-col-14 {
  grid-column: 1;
}

.grid-col-23 {
  grid-column: 1;
}

.grid-col-24 {
  grid-column: 1;
}

.grid-col-34 {
  grid-column: 1;
}

@media screen and (min-width: 800px) {
  .grid-col-12 {
    grid-column: 1 / 2;
  }

  .grid-col-13 {
    grid-column: 1 / 3;
  }

  .grid-col-14 {
    grid-column: 1 / 4;
  }

  .grid-col-23 {
    grid-column: 2 / 3;
  }

  .grid-col-24 {
    grid-column: 2 / 4;
  }

  .grid-col-34 {
    grid-column: 3 / 4;
  }
}

/* Navbar */
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
}

.nav-title {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.nav-title span {
  text-transform: uppercase;
}

.nav-title svg {
  margin-right: 8px;
  color: var(--primary);
}

.nav-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-ul li:last-child {
  margin-left: 32px;
}

.nav-a {
  display: flex;
  transition: 200ms ease-in;
}

.nav-a:hover {
  color: var(--secondary-2);
}

.nav-ul li:first-child a {
  margin-right: 16px;
  padding-right: 16px;
  border-right: 1px solid var(--secondary-2);
}

.btn-apple {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 16px 32px;
  color: var(--white);
  background-color: var(--black);
  border-radius: 100px;
  cursor: pointer;
  transition: 400ms ease-in-out;
}

.btn-apple svg {
  margin-right: 8px;
  position: relative;
  z-index: 3;
}

.btn-apple-text {
  position: relative;
  z-index: 3;
}

.btn-apple-top-text,
.btn-apple-bottom-text {
  line-height: 1;
  font-weight: 400;
}

.btn-apple-top-text {
  font-size: 10px;
  letter-spacing: 0.9px;
}

.btn-apple-bottom-text {
  font-size: 20px;
}

.btn-apple:hover {
  color: var(--black);
  background-color: var(--secondary-1);
}

.btn-apple:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: -20px;
  width: 120%;
  height: 120%;
  background-color: var(--white);
  transform-origin: bottom center;
  transition: transform 200ms ease-in-out;
  transform: skewY(10deg) scaleY(0);
  border-radius: 50%;
  z-index: 2;
}

.btn-apple:hover:after {
  transform-origin: bottom center;
  transform: skewY(10deg) scaleY(2);
}

/* Header */
.main-header {
  margin-top: 100px;
}

.header-h1 {
  text-align: center;
}

.header-h1 span {
  display: inline-block;
  background: -webkit-linear-gradient(90deg, var(--primary) 0%, var(--primary-2) 100%);
  background: linear-gradient(90deg, var(--primary) 0%, var(--primary-2) 100%);
  border-radius: 100px;
  color: var(--white);
  padding: 0 40px;
  margin: 10px 0;
}

.header-h4 {
  text-align: center;
  margin: 48px 0;
}

.header .btn-apple {
  justify-self: center;
}

/* Feature */
.feature {
  padding: 100px;
  border-radius: 48px;
  background-color: var(--black);
}

.feature-h2 {
  color: var(--white);
  margin-bottom: 48px;
}

.feature-h5 {
  color: var(--white);
}

.feature-right {
  position: relative;
}

.feature-img {
  position: absolute;
  bottom: 0;
  border-radius: 48px;
}

/* Work */
.work {
  padding: 100px;
  border-radius: 48px;
  background-color: var(--white);
}

.work-h2 {
  text-align: center;
}

.work-top-left {
  position: relative;
  margin: 120px;
}

.work-img-center {
  border-radius: 48px;
}

.work-img-left {
  position: absolute;
  top: 48px;
  left: -80px;
  width: 120px;
  height: 120px;
  border-radius: 24px;
  overflow: hidden;
}

.work-img-left img,
.work-img-right img {
  object-fit: cover;
}

.work-img-right {
  position: absolute;
  bottom: 48px;
  right: -80px;
  width: 120px;
  height: 120px;
  border-radius: 24px;
  overflow: hidden;
}

.work-top-right {
  align-self: center;
}

.work-center-left {
  align-self: center;
}

.work-center-right img,
.work-bottom-left img {
  border-radius: 48px;
}

.work-bottom-right {
  align-self: center;
}

.work-col-height {
  height: 200px;
}

/* Unique */
.unique-h2 {
  text-align: center;
  font-weight: 400;
}

.unique-h2 span {
  display: inline-block;
  border-radius: 100px;
  padding: 0 40px;
  line-height: 1.4;
  margin: 4px 0;
}

.span-1 {
  color: var(--white);
  background-color: var(--black);
}

.span-2 {
  color: var(--white);
  background-color: var(--primary);
}

.span-3 {
  background-color: var(--primary-1);
}

.span-4 {
  color: var(--white);
  background-color: var(--primary-2);
}

.unique .btn-apple {
  justify-self: center;
}

/* Track */
.track-h2 {
  line-height: 1.1;
  margin-bottom: 48px;
}

.track-h4 {
  margin-bottom: 48px;
}

.track-right {
  position: relative;
  display: flex;
  justify-content: center;
}

.track-top-img {
  position: absolute;
  top: -48px;
  width: 450px;
  border-radius: 48px;
}

.track-left-img {
  position: absolute;
  top: 100px;
  left: 0;
  border-radius: 48px;
  width: 250px;
}

.track-bottom-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  border-radius: 48px;
}

/* Place */
.place {
  background-color: var(--black);
  border-radius: 48px;
  padding: 100px;
}

.place-h3 {
  color: var(--white);
}

.place-h5 {
  color: var(--white);
}

.places {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.places-top,
.places-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}

.place-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 120px;
  border-radius: 100px;
  overflow: hidden;
  margin: 0 8px;
}

.place-box img {
  object-fit: cover;
}

.place-box-color {
  background-color: var(--primary-1);
}

/* Definition */
.definition-h4 {
  margin: 48px 0;
}

.definition-right {
  position: relative;
}

.definition-right img {
  border-radius: 48px;
}

.definition-right img:first-child {
  position: absolute;
  left: 100px;
  width: 400px;
}

.definition-right img:nth-child(2) {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 400px;
}

.definition-right img:last-child {
  position: absolute;
  bottom: 160px;
  left: 0;
  width: 300px;
}

/* Review */
.review {
  border-radius: 48px;
  padding: 100px;
  background-color: var(--black);
}

.review-h2 {
  text-align: center;
  color: var(--white);
  margin-bottom: 48px;
}

.review-h2 span {
  display: inline-block;
  border-radius: 100px;
  padding: 0 40px;
  line-height: 1.4;
  background-color: var(--primary-1);
  color: var(--black);
}

.review-h4 {
  text-align: center;
  color: var(--white);
}

.reviews {
  margin-top: 48px;
}

.grid-reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}

.review-box {
  border-radius: 48px;
  padding: 48px;
  background-color: var(--white);
}

.review-box p {
  color: var(--secondary-2);
}

.rb-p {
  color: var(--black) !important;
  margin-top: 16px;
}

/* Advantages */
.advantages-h2 {
  margin-bottom: 100px;
}

.advantages-1 {
  background-color: var(--black);
  padding: 48px;
  border-radius: 48px;
}

.advantages-1-h4 {
  color: var(--white);
}

.advantages-2 {
  background-color: var(--primary-1);
  padding: 48px;
  border-radius: 48px;
  display: flex;
  align-items: center;
}

.advantages-3 {
  background-color: var(--white);
  padding: 48px;
  border-radius: 48px;
  display: flex;
  align-items: center;
}

.advantages-4 {
  background-color: var(--primary);
  padding: 140px 48px;
  border-radius: 48px;
  display: flex;
  align-items: center;
  color: var(--white);
}

.advantages-5 {
  background-color: var(--white);
  padding: 48px;
  border-radius: 48px;
  display: flex;
  align-items: center;
}

/* Price */
.price {
  position: relative;
  overflow: hidden;
  background-color: var(--primary-1);
  border-radius: 48px;
}

.price .grid {
  column-gap: 0;
}

.price-left {
  padding: 100px;
}

.price-h3 span {
  display: inline-block;
  border-radius: 100px;
  padding: 0 40px;
  line-height: 1.4;
  background-color: var(--primary);
  color: var(--white);
}

.price-h5 {
  margin: 48px 0;
}

.price .btn-apple {
  font-size: 24px;
  margin-bottom: 16px;
}

.price .btn-apple:hover {
  color: var(--black);
}

.price .btn-apple::after {
  bottom: -60%;
  left: -130px;
  width: 160%;
  height: 160%;
}

.price-right {
  position: absolute;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

/* Questions */
.question-h2 {
  text-align: center;
  margin-bottom: 100px;
}

.question {
  background-color: var(--white);
  padding: 48px;
  border-radius: 48px;
}

.question:not(:last-child) {
  margin-bottom: 16px;
}

.question-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-question {
  cursor: pointer;
  display: flex;
}

.question-info {
  margin-top: 24px;
}

.question-info-h5:first-child {
  margin-bottom: 16px;
}

/* Outro */
.outro-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}

.outro-h1 {
  text-align: center;
  margin-bottom: 100px;
}

.outro-h1 span {
  display: inline-block;
  border-radius: 100px;
  padding: 0 40px;
  line-height: 1.4;
  background-color: var(--primary-1);
  color: var(--black);
}

/* Footer */
.footer {
  padding: 100px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  background-color: var(--black);
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-h4 {
  color: var(--white);
}

.footer-left ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 24px 0;
}

.footer-left ul li:not(:last-child) {
  margin-right: 24px;
}

.footer-left ul li a,
.footer-left ul li p {
  color: var(--white);
}

.footer-left-bottom p {
  color: var(--white);
}

.footer-right h4,
.footer-right>h5 {
  color: var(--white);
}

.footer-right h4 {
  margin-bottom: 24px;
}

.btn-footer {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  color: var(--black);
  background-color: var(--primary-1);
  border-radius: 100px;
  cursor: pointer;
  transition: 400ms ease-in-out;
  margin-top: 24px;
}

.btn-footer:hover {
  background-color: var(--white);
}