.container {
  max-width: 1280px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}

/* Navbar */
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
}

.nav-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-ul li:last-child {
  margin-left: 32px;
}

.nav-a {
  display: flex;
  transition: 200ms ease-in;
}

.nav-a:hover {
  color: var(--secondary-2);
}

.nav-ul li:first-child a {
  margin-right: 16px;
  padding-right: 16px;
  border-right: 1px solid var(--secondary-2);
}

.btn-apple {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 16px 32px;
  color: var(--white);
  background-color: var(--black);
  border-radius: 100px;
  cursor: pointer;
  transition: 400ms ease-in-out;
}

.btn-apple svg {
  margin-right: 8px;
  position: relative;
  z-index: 3;
}

.btn-apple-text {
  position: relative;
  z-index: 3;
}

.btn-apple-top-text,
.btn-apple-bottom-text {
  line-height: 1;
  font-weight: 400;
}

.btn-apple-top-text {
  font-size: 10px;
  letter-spacing: 0.9px;
}

.btn-apple-bottom-text {
  font-size: 20px;
}

.btn-apple:hover {
  color: var(--black);
  background-color: var(--secondary-1);
}

.btn-apple:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: -20px;
  width: 120%;
  height: 120%;
  background-color: var(--white);
  transform-origin: bottom center;
  transition: transform 200ms ease-in-out;
  transform: skewY(10deg) scaleY(0);
  border-radius: 50%;
  z-index: 2;
}

.btn-apple:hover:after {
  transform-origin: bottom center;
  transform: skewY(10deg) scaleY(2);
}

/* Header */
.header-h1 {
  text-align: center;
  grid-column: 1 / 3;
}

.header-h1 span {
  display: inline-block;
  background: -webkit-linear-gradient(90deg, var(--primary) 0%, var(--primary-2) 100%);
  background: linear-gradient(90deg, var(--primary) 0%, var(--primary-2) 100%);
  border-radius: 100px;
  color: var(--white);
  padding: 0 40px;
  margin: 10px 0;
}

.header-h4 {
  text-align: center;
  margin: 48px 0;
  grid-column: 1 / 3;
}

.header .btn-apple {
  grid-column: 1 / 3;
  justify-self: center;
}

/* Feature */
.feature {
  padding: 100px;
  border-radius: 48px;
  background-color: var(--black);
}

.feature-left {
  grid-column: 1 / 2;
}

.feature-h2 {
  color: var(--white);
  margin-bottom: 48px;
}

.feature-h5 {
  color: var(--white);
}

.feature-right {
  grid-column: 2 / 3;
  position: relative;
}

.feature-img {
  position: absolute;
  bottom: 0;
  border-radius: 48px;
}

/* Work */
.work {
  padding: 100px;
  border-radius: 48px;
  background-color: var(--white);
}

.work hr {
  grid-column: 1 / 3;
}

.work-h2 {
  grid-column: 1 / 3;
  text-align: center;
}

.work-top-left {
  grid-column: 1 / 2;
  position: relative;
  margin: 160px;
}

.work-img-center {
  border-radius: 48px;
}

.work-img-left {
  position: absolute;
  top: 48px;
  left: -80px;
  width: 100px;
  height: 100px;
  border-radius: 24px;
  overflow: hidden;
}

.work-img-left img,
.work-img-right img {
  object-fit: cover;
}

.work-img-right {
  position: absolute;
  bottom: 48px;
  right: -80px;
  width: 100px;
  height: 100px;
  border-radius: 24px;
  overflow: hidden;
}

.work-top-right {
  grid-column: 2 / 3;
  align-self: center;
}

.work-center-left {
  grid-column: 1 / 2;
  align-self: center;
}

.work-center-right {
  grid-column: 2 / 3;
}

.work-center-right img,
.work-bottom-left img {
  border-radius: 48px;
}

.work-bottom-left {
  grid-column: 1 / 2;
}

.work-bottom-right {
  grid-column: 2 / 3;
  align-self: center;
}

/* Unique */
.unique-content {
  padding: 0 48px;
}

.unique-h2 {
  grid-column: 1 / 3;
  text-align: center;
  line-height: 1.3;
  font-weight: 400;
}

.unique-h2 span {
  display: inline-block;
  border-radius: 100px;
  padding: 0 40px;
  line-height: 1.4;
}

.span-1 {
  color: var(--white);
  background-color: var(--black);
}

.span-2 {
  color: var(--white);
  background-color: var(--primary);
}

.span-3 {
  background-color: var(--primary-1);
}

.span-4 {
  color: var(--white);
  background-color: var(--primary-2);
}

.unique .btn-apple {
  grid-column: 1 / 3;
  justify-self: center;
}

/* Track */
.track-left {
  grid-column: 1 / 2;
}

.track-h2 {
  line-height: 1.1;
  margin-bottom: 48px;
}

.track-h4 {
  margin-bottom: 48px;
}

.track-right {
  position: relative;
  grid-column: 2 / 3;
}

.track-top-img {
  position: absolute;
  top: -48px;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  border-radius: 48px;
}

.track-left-img {
  position: absolute;
  top: 100px;
  left: 0;
  border-radius: 48px;
  width: 250px;
}

.track-bottom-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  border-radius: 48px;
}

/* Place */
.place {
  background-color: var(--black);
  border-radius: 48px;
  padding: 100px;
}

.place-h3 {
  grid-column: 1 / 2;
  color: var(--white);
}

.place-h5 {
  grid-column: 2 / 3;
  color: var(--white);
}

.places {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.places-top,
.places-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}

.place-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 120px;
  border-radius: 100px;
  overflow: hidden;
  margin: 0 8px;
}

.place-box img {
  object-fit: cover;
}

.place-box-color {
  background-color: var(--primary-1);
}