:root {
  --white: #fff;
  --black: #222;
  --primary: #8e48f3;
  --primary-1: #cdf348;
  --primary-2: #ff724f;
  --secondary-1: #eee;
  --secondary-2: #bbb;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
  background-color: var(--secondary-1);
}

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

h1 {
  font-size: 120px;
  font-weight: 500;
  line-height: 1.1;
}

h2 {
  font-size: 80px;
  font-weight: 500;
  line-height: 1.1;
}

h3 {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.2;
}

h4 {
  font-size: 32px;
  font-weight: 400;
}

h5 {
  font-size: 24px;
  font-weight: 400;
}

button {
  all: unset;
}

svg {
  fill: currentColor;
}

hr {
  display: block;
  height: 120px;
  border: transparent;
}

img {
  display: block;
}